body {
    background: #222;
    font-family: monospace, sans-serif;
    color: white;
}

a {
    color: inherit;
    text-decoration: none;
}

article {
    position: relative;
    width: 400px;
    height: 150px;

    margin: 1em auto;

    border-radius: 3px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);

    overflow: hidden;
}

article .background {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    background-size: cover;

    transition: all .2s ease-in-out;
}

article .background img {
    display: none;
}

article:hover .background {
    transform: scale(1.1);
}

article.tengeri .background {
    background-image: url(./assets/tengeri.jpg);
}

article.ragcsalo .background {
    background-image: url(./assets/ragcsalo.jpg);
}

article.vizi .background {
    background-image: url(./assets/vizi.jpg);
}

article .caption {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;

    text-align: center;

    padding: .3em;
    background-color: rgba(0, 0, 0, 0.5);

    box-shadow: 0 0 2px black;
    opacity: .6;

    transition: all .2s ease-in-out;
}

article:hover .caption {
    opacity: 1;
}

@media (max-width: 600px) {

    body {
        padding-bottom: 2em;
    }

    article {
        width: 100%;
        margin: .5em auto;
    }

    article .caption {
        opacity: 1;
    }
}